@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    color: #463F3A;
    text-align: center;
    font-family: Cutive, sans-serif;
    min-height: 100vh;
}
h1, h2, h3 {
    font-family: Pacifico, sans-serif;
}
footer {
    background-color: aqua;
}
main {
    background-color: blueviolet;
}
.hero-image {
    background: url(../images/cathero.jpg);
}

body {
    display: grid;
    grid-template-columns: 1,5rem minmax(400, 650px)
    minmax(200, 350px)
    1.5rem;
    grid-template-areas: 
    "header header header header"
    "hero hero hero hero"
    ". main main ."
    "footer footer footer footer"
}
header {grid-area: header;}

.hero-image {grid-area: hero;}

main {grid-area: main;}

footer {grid-area: footer;}
