@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    color: red;
    text-align: center;
    font-family: Cutive, sans-serif;
}
/* Header */
.flex-container {
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
/* Logo */
.logo {
text-decoration: none;
font-size: 200%;
display: flex;
flex-direction: column;
color: #463F3A;
padding-bottom: 1rem;
font-family: Pacifico, sans-serif;
}
/* Menu */
.active {
    border-bottom: 1px solid #463F3A;
}
.nav-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: 110%;
}
.nav-item {
    list-style-type: none;
}
.nav-item a {
    text-decoration: none;
    color: initial;
}
.nav-item a:hover {
    border-bottom:1px solid #463F3A;
}
/* Horizonta line style */
hr {
    border-bottom: 1px double #463F3A;
    width: 90%;
    padding: 1px;
    margin: 0 auto;
}
/* First section */
/* Hero image */ 
.hero-container {
    height: 650px;
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;

}
.hero-image {
    background: url('../images/cathero.jpg') no-repeat center center;
    width: 90%;
    height: 650px;
    margin: 0 auto;
}
 /* Media for small screens of size 580px and smaller*/
@media  screen and (max-width: 580px) {
.hero-image{
    background: url('../images/catcuddles.jpg') no-repeat center center;
    height: 400px;
    width: 90%;
}
.nav-flex {
    flex-direction: column;
}
.nav-item {
    padding: 2px;
}
.logo {
font-size: 160%;
padding: 0;
}
}
