@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    color: #38322E;
    text-align: center;
    font-family: Cutive, sans-serif;
    min-height: 100vh;
}

.active {
    border-bottom: 1px solid #F4F3EE;
}

/* The main layout using grid 
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}
header {grid-area: header;}

main {grid-area: main;}

footer {grid-area: footer;}

*/
/* Sets the font to all h1-h3*/
h1,
h2,
h3 {
    font-family: Pacifico, sans-serif;
}

/* Temporary background colors */
footer {
    background-color: aqua;
}

/* Header - Logo */
/* Setting the size of the header */
header {
    width: 100%;
    height: 700px;
    background-color: #463F3A;
}
.background-img {
    background-image: url(../images/cathero-unslash-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.header-logo {
    width: 50%;
    height: 18rem;
}
.logo {
    text-decoration: none;
    color: #F4F3EE;
    font-size: 2.5rem;
}
/* Styling menu */
.menu {
    background-color: rgba(28, 26, 24, 0.8);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav-item>a {
    color: #F4F3EE;
    text-decoration: none;
}
.nav-item>a:hover {
    border-bottom: 1px solid #F4F3EE;
}
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    list-style: none;
}
/* Style main - Setting grid for first div */
.main-template-1 {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto;
    Grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five'
}
.main-1 {
    grid-area: one;
    background-color: grey;
}

.main-2 {
    grid-area: two;
}

.main-3 {
    grid-area: three;
}

.main-4 {
    grid-area: four;
}
.main-5 {
    grid-area: five;
}

.main-template-1>div {
    min-height: 5rem;
    min-width: 1rem;
    border: 1px solid green;
    padding: 2rem 1rem;
}
/* Media for medium and tablet screen */
@media  screen and (min-width: 750px) {
    .main-template-1 {
        display: grid;
        grid-template-areas:
        'one one four' 
        'two five four'
        'three three three';
    }
}
/* Media for medium to large screens */
@media  screen and (min-width: 1200px) {
    .main-template-1 {
        display: grid;
        grid-template-areas: 
        'one one two four'
        'five three three four';
    }
}

